version: '3.5'
services:
    babel:
      build:
        context: .
        dockerfile: ./dockerfile
      command: npm run start
      container_name: babel
      hostname: svetlanaberrios.com
      domainname: svetlanaberrios.com
      environment:
        - PORT=3000
      ports:
        - "0.0.0.0:3000:3000"
      networks:
        - svetlanaberrios
    nginx:
      image: umputun/nginx-le:latest
      hostname: nginx
      restart: always
      container_name: nginx
      logging:
        driver: json-file
        options:
          max-size: "10m"
          max-file: "5"
      volumes:
        - ./html:/srv/docroot/
        - ./etc/ssl:/etc/nginx/ssl
        - ./etc/service.conf:/etc/nginx/service.conf
      ports:
        - "80:80"
        - "443:443"
      links:
        - babel:babel
      networks:
        svetlanaberrios:
          aliases:
            - www.svetlanaberrios.com
            - svetlanaberrios.com
      environment:
        - TZ=UTC
        - LETSENCRYPT=true
        - LE_EMAIL=digitaldistortion@ya.ru
        - LE_FQDN=www.svetlanaberrios.com,svetlanaberrios.com
networks:
  svetlanaberrios:
    name: svetlanaberrios
    driver: bridge
    ipam:
      driver: default
