<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>React boilerplate</title>
  </head>
  <body>
    <div id="root"></div>

    <!-- Main version -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reactstrap/6.0.1/reactstrap.min.js"></script>

    <!-- All optional dependencies version -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reactstrap/6.0.1/reactstrap.full.min.js"></script>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="/__/firebase/6.3.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#reserved-urls -->
    <script src="/__/firebase/6.3.1/firebase-auth.js"></script>
    <script src="/__/firebase/6.3.1/firebase-firestore.js"></script>
    <!-- Initialize Firebase -->
    <script defer src="https://www.gstatic.com/firebasejs/6.3.1/firebase-app.js"></script>

    <script defer src="https://www.gstatic.com/firebasejs/6.3.1/firebase-auth.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/6.3.1/firebase-firestore.js"></script>

    <script src="/__/firebase/init.js"></script>
  </body>
</html>
